<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li  [routerLinkActive]="['active']" class="nav-item"><a [routerLink]="['/']" class="nav-link link-dark px-2 active" aria-current="page" id="authapp">AuthApp</a></li>
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a [routerLink]="['/dashboard']" class="nav-link link-dark px-2 active" aria-current="page">Dashboard</a></li>
    </ul>
    <ul class="nav">
      <!-- <li *ngIf="authService.loggedIn()"   [routerLinkActive]="['active']"  class="nav-item"><a [routerLink]="['/dashboard']" class="nav-link link-dark px-2">Dashboard</a></li> -->
      <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']"  class="nav-item"><a [routerLink]="['/profile']" class="nav-link link-dark px-2">Profile</a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"  class="nav-item"><a [routerLink]="['/login']" class="nav-link link-dark px-2">Login</a></li>
      <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']"  class="nav-item"><a [routerLink]="['/register']" class="nav-link link-dark px-2">Sign up</a></li>
      <li *ngIf="authService.loggedIn()" class="nav-item"><a (click)="OnLogoutClick()" href="#" class="nav-link link-dark px-2">Logout</a></li>
    </ul>
  </div>
</nav>

